            <div style="background-color: rgb(3, 62, 62); width: 870px; height: auto; padding: 5px; text-align: center; font-family: Verdana; color: rgb(255, 255, 255);">
                &copy; <%= (new Date()).getFullYear() %> Adda Slough. All rights reserved.
            </div>
