<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body style="width:100%; background: rgb(255, 255, 255); margin: 0 auto; padding: 0px; font-family: Verdana; font-size: 14px; position: absolute; letter-spacing: 0px;">
        <div style="display: table; width: 880px; margin: 0 auto; line-height: 14px;">
<%- include('header'); -%>
            <div style="padding: 5px 0px; width: auto; clear: both;">
                <div style="border-width: 1px; border-style: solid; border-color: rgb(192, 159, 128); width: 878px; height: auto; margin: auto; line-height: 22px; position: relative; background-color: rgb(255, 255, 255)">
                    <div style="height: auto; line-height: 22px; padding: 10px 10px 0px;">
                        <div style="font-family: Verdana; font-size: 14px; font-weight: normal; line-height: 22px; text-align: justify; padding: 5px 0px;">
                            <span>We are delighted that you chose to stay connected with us. This email is an acknowledgement for the same.</span>
                            <br />
                            <% if(servEaseEnquiryList && servEaseEnquiryList.length > 0) { %>
                                <div>
                                <span>Your Response to Subscription Enquiry</span>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Enquiry</th>
                                            <th>Response</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% servEaseEnquiryList.map((item) => { %>
                                        <tr>
                                            <td><span><%= item.enquiry %></span></td>
                                            <td><span><%= item.response %></span></td>
                                        </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                                <br />
                                </div>
                            <% } %>
                            <span>We shall keep you informed about our roadmap and plan of launching new services.</span>
                            <br /><br />
                            <span>ServEase Team</span>
                            <br />
                            <span>If you don't wish to receive emails in future, you may <a href="mailto:enquiries@servease.io?subject=UNSUBSCRIBE ME" target="blank">unsubscribe</a></span>
                        </div>
                    </div>
                </div>
            </div>
<%- include('footer'); -%>
        </div>
    </body>
</html>