# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: ${env:SERVICE_NAME, 'gallery'}
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
frameworkVersion: '4'

provider:
  name: aws
  runtime: ${env:RUNTIME, 'nodejs22.x'}
  endpointType: ${env:ENDPOINT_TYPE, 'regional'}
  profile: ${env:APP_NAME, 'taleofddh'}

  # you can overwrite defaults here
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'eu-west-1'}
  environment:
    ENVIRONMENT: ${opt:stage, self:provider.stage}
    REGION: ${opt:region, 'eu-west-1'}
    APP_NAME: ${env:APP_NAME, 'taleofddh'}
    SERVICE_NAME: ${env:SERVICE_NAME, 'gallery'}
    S3_MEDIA_BUCKET: ${env:S3_MEDIA_BUCKET, 'taleofddh-media'}
    SIGNER_PRIVATE_KEY: ${env:SIGNER_PRIVATE_KEY, 'SIGNER_PRIVATE_KEY'}
    CLOUDFRONT_PUBLIC_KEY_ID: ${env:CLOUDFRONT_PUBLIC_KEY_ID, 'K1XBUPGFMXTF6Q'}
    MEDIA_PROTECTED_HOST: ${env:MEDIA_PROTECTED_HOST, 'https://media-protected.taleofddh.com'}

  apiGateway:
    shouldStartNameWithService: true

# you can add statements to the Lambda function's IAM Role here
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - lambda:InvokeFunction
        - secretsmanager:GetSecretValue
        - kms:Encrypt
        - kms:Decrypt
        - kms:ReEncrypt*
        - kms:GenerateDataKey*
        - kms:DescribeKey
      Resource: "*"
    - Effect: "Allow"
      Action:
        - dynamodb:BatchGetItem
        - dynamodb:GetItem
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:BatchWriteItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
      Resource: arn:aws:dynamodb:*:*:table/${self:provider.stage}.${env:APP_NAME, 'taleofddh'}.${self:service}.*
    - Effect: "Allow"
      Action:
        - s3:ListBucket
      Resource:
        - arn:aws:s3:::${env:S3_MEDIA_BUCKET, 'taleofddh-media'}
    - Effect: "Allow"
      Action:
        - s3:GetObject
      Resource:
        - arn:aws:s3:::${env:S3_MEDIA_BUCKET, 'taleofddh-media'}/*

# you can define service wide environment variables here
#  environment:
#    variable1: value1

# you can add packaging information here
package:
  individually: true

functions:
  createOrUpdateAlbum:
    handler: handler.createOrUpdateAlbum
    events:
      - http:
          path: createOrUpdateAlbum
          method: post
          cors: true
          authorizer: aws_iam
    environment:
      TABLE_NAME: "gallery"

  findAlbums:
    handler: handler.findAlbums
    events:
      - http:
          path: albums
          method: get
          cors: true
          authorizer: aws_iam
    environment:
      TABLE_NAME: "gallery"

  updateAlbumViewCount:
    handler: handler.updateAlbumViewCount
    events:
      - http:
          path: albumViewCount
          method: put
          cors: true
          authorizer: aws_iam
    environment:
      TABLE_NAME: "gallery"

  updatePhotoViewCount:
    handler: handler.updatePhotoViewCount
    events:
      - http:
          path: photoViewCount
          method: put
          cors: true
          authorizer: aws_iam
    environment:
      TABLE_NAME: "photo"

  findRecentAlbumNames:
    handler: handler.findRecentAlbumNames
    events:
      - http:
          path: albumRecentNames
          method: get
          cors: true
    environment:
      TABLE_NAME: "gallery"

  findHistoricalAlbumCategories:
    handler: handler.findHistoricalAlbumCategories
    events:
      - http:
          path: albumHistoricalCategories
          method: get
          cors: true
    environment:
      TABLE_NAME: "gallery"

  findAlbumCategories:
    handler: handler.findAlbumCategories
    events:
      - http:
          path: albumCategories
          method: get
          cors: true
    environment:
      TABLE_NAME: "gallery"

  findHistoricalAlbumSubCategories:
    handler: handler.findHistoricalAlbumSubCategories
    events:
      - http:
          path: albumHistoricalSubCategories/{category}
          method: get
          cors: true
          request:
            parameters:
              paths:
                category: true
    environment:
      TABLE_NAME: "gallery"

  findAlbumCategorySubCategories:
    handler: handler.findAlbumCategorySubCategories
    events:
      - http:
          path: albumCategorySubCategories
          method: get
          cors: true
    environment:
      TABLE_NAME: "gallery"

  findHistoricalAlbumCollections:
    handler: handler.findHistoricalAlbumCollections
    events:
      - http:
          path: albumHistoricalCollections/{category}/{subCategory}
          method: get
          cors: true
          request:
            parameters:
              paths:
                category: true
                subCategory: true
    environment:
      TABLE_NAME: "gallery"

  findAlbumCategorySubCategoryCollections:
    handler: handler.findAlbumCategorySubCategoryCollections
    events:
      - http:
          path: albumCategorySubCategoryCollections
          method: get
          cors: true
    environment:
      TABLE_NAME: "gallery"

  findAlbumHistoricalNames:
    handler: handler.findAlbumHistoricalNames
    events:
      - http:
          path: albumHistoricalNames/{category}/{subCategory}/{collection}
          method: get
          cors: true
          request:
            parameters:
              paths:
                category: true
                subCategory: true
                collection: true
    environment:
      TABLE_NAME: "gallery"

  findAlbumCategorySubCategoryCollectionNames:
    handler: handler.findAlbumCategorySubCategoryCollectionNames
    events:
      - http:
          path: albumCategorySubCategoryCollectionNames
          method: get
          cors: true
    environment:
      TABLE_NAME: "gallery"

  findAlbumWithMedia:
    handler: handler.findAlbumWithMedia
    events:
      - http:
          path: albumWithMedia/{category}/{subCategory}/{collection}/{name}
          method: get
          cors: true
          request:
            parameters:
              paths:
                category: true
                subCategory: true
                collection: true
                name: true
    environment:
      TABLE_NAME: "gallery"

# you can add CloudFormation resource templates here
resources:
  # API Gateway Errors
  - ${file(resources/api-gateway-errors.yml)}
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"

plugins:
  - serverless-domain-manager
  - serverless-offline

custom:
  stage: ${opt:stage, self:provider.stage}
  domains:
    prod: ${env:API_DOMAIN, 'api.taleofddh.com'}
    dev: ${self:custom.stage}-${env:API_DOMAIN, 'api.taleofddh.com'}
  customDomain:
    domainName: ${self:custom.domains.${self:custom.stage}}
    basePath: ${env:BASE_PATH, 'gallery'}
    stage: ${self:custom.stage}
    certificateName: ${env:CERTIFICATE_NAME, '*.taleofddh.com'}
    hostedZoneId: ${env:HOSTED_ZONE_ID, 'Z044305914KLOWN7PAF5E'}
    createRoute53Record: true
    endpointType: ${env:ENDPOINT_TYPE, 'regional'}
    securityPolicy: ${env:SECURITY_POLICY, 'tls_1_2'}
    apiType: ${env:API_TYPE, 'rest'}
